body {
    background-color: darkslategray;
    font-family: "Courier new", Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5em;
}

h1 {
    color: blanchedalmond;
    text-align: center;
    font-weight: 800;
    font-size: 70px;
    margin: 0 auto;
    text-shadow: 1pt 1pt;
    box-shadow: 1px 1px;
    width: 530px;
    display: table;
}

h1:hover {
    transform: skewY(3deg);
    transform: skewX(4deg);
}

div {
    font-size: 25px;
    font-weight: 600;
    color: blanchedalmond;
    text-align: center;
    padding-top: 3em;
    
}

ul,
li {
    padding-bottom: 18px;
    list-style-type: none;
    list-style-position: inside;
}

.mac,
.cookie,
.fish {
    color: sandybrown;
}

a:hover {
    font-size: 30px;
    font-weight: 800;
    background-color: honeydew;
    
}
